<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ROKBot</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/test.css">
    <link rel="icon" href="/static/css/Images/icon.png" sizes="32x32" type="image/png"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h1 class="chatHeader">Student Innovation Challenge</h1>
    <h1 class="robotHeader">Hello, I'm ROKBot!</h1>
    <div class="robotClass">
        <img class="robot" src="static/css/Images/robot3.png">
    </div>
    <h1 class="robotText">How can I help you?</h1>
    <div class="chatContainer">
        <div class="chatTop">
            <img class="phoneLogo" src="static/css/Images/phoneLogo.png">
            <img class="soundIcon" src="static/css/Images/noSound.png">
        </div>
        <div class="chatMed">
            <div class="botSection">
                <img class="botIcon" src="static/css/Images/robot4.png">
                <div class="botBubble">
                    <h5 class="botMessage">Hey there, what can I help you with?</h5>
                </div>
                <hr class="chatBreaker">
            </div>
        </div>
        <div class="chatBottom">
            <form id="target" action="#!" autocomplete="off">
                <input class="input" type="text" value="" onblur="this.placeholder = '   Enter message...'"
                    onfocus="this.placeholder = ''" placeholder="   Enter message..." id="inputMessage" />
                <input type="submit" hidden>
                <span id="final_span" class="final"></span>
                <span id="interim_span" class="interim"></span>
            </form>
            <img onclick=textSpeech() class="micPic" src="static/css/Images/Mic.png">
            <div class="sendButton">
                <img class="send" src="static/css/Images/send.png">
            </div>
        </div>
        <form method="POST">
            <input type="submit" class="submitButton" value="Submit">
    </form>
    </div>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script type="text/javascript" src="static/scripts/chatbot.js"></script>
</body>

</html>