<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/test.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h1 class="header">Student Innovation Challenge</h1>
    <div class="people">
        <div class="card">
            <img class="headshot" src="static/css/Images/Headshot.jpg">
            <h5 class="name">Jordan Rodrigues</h5>
        </div>
        <div class="card">
            <img class="headshot" src="static/css/Images/jacob.png">
            <h5 class="name">Jacob Lebowitz</h5>
        </div>
        <div class="card">
            <img class="headshot" src="static/css/Images/Headshot.jpg">
            <h5 class="name">Tiger Gamble</h5>
        </div>
        <div class="card">
            <img class="headshot" src="static/css/Images/Headshot.jpg">
            <h5 class="name">Peter Tell</h5>
        </div>
        <div class="card">
            <img class="headshot" src="static/css/Images/Headshot.jpg">
            <h5 class="name">Jaelyn Domingo</h5>
        </div>
        <div class="card">
            <img class="headshot" src="static/css/Images/Headshot.jpg">
            <h5 class="name">Wenjing Deng</h5>
        </div>
        <div class="card">
            <img class="headshot" src="static/css/Images/Headshot.jpg">
            <h5 class="name">Trevor Moyer</h5>
        </div>
    </div>
    <h5 class="problem">Problem:</h5>
    <p class="desc">Both current and prospective Rockwell customers have an <span class="bold">incredibly</span> tough
        time using the existing
        <span class="bold">'Literature Library'</span> System to find information on Rockwell Products. For example, a
        simple search of 'Motor
        Controller' results in <span class="bold">5300+</span> hits.
    </p>
    <h5 id="solution" class="problem">Solution:</h5>
    <div onclick=pageSwitcher() class="button">
        <h5 class="buttonText">ROKBot</h5>
    </div>
    <script src="static/scripts/test.js"></script>
</body>

</html>